<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>AMDGPU Control</vendor>
  <action id="io.github.amdgpucontrol.control.configure">
    <description>Alterar configurações da GPU AMD</description>
    <message>Autenticação é necessária para alterar as configurações da GPU</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/amdgpu-control-helper</annotate>
  </action>
</policyconfig>
